@model IEnumerable<CodeChallenge.Models.Case>

<table class="table table-striped table-dark">
    <thead>
        <tr>
            <th>
                 Authorization #
            </th>
            <th>
                Case #
            </th>
            <th>
                Status
            </th>
            <th>
                Expiration Date
            </th>
            <th></th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.AuthNum)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CaseNumber)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.GetExpDateFormat)
                </td>
                <td>
                    <button type="button" class="btn btn-block btn-success" onclick="openModal(@item.CaseNumber)">Details</button>
                </td>
            </tr>
        }
    </tbody>
</table>
